*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    transition: 2s;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;  /*dispalay flex hai to 'justify content center' and 'align item center' ka use karnege */
    justify-content: center;
    align-items: center;
}

.container{
    width: 27rem;   /* 1rem = 16 pix */
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

button{
    font-size: 30px;
    display: block;
    margin: 7% auto;
    color: aliceblue;
    border-radius: 12px;
    width: 100%;
    background-color: darkslategrey;
    
}